<!-- views/flight.erb -->
<h2>Details for <%= @flight_name %></h2>

<h4>Airline: <em><%= @airline %></em></h4>
<h4>Flight Number: <em><%= @flight_number %></em></h4>
<h4>Departure Time: <em><%= @departure_time %></em></h4>
<h4>Destination: <em><%= @destination %></em></h4>
